@{
    ViewBag.Title = "Home Page";
}
<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="index.html">Home</a>
        <span class="breadcrumb-item active">Shop</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h2>highly recommendes books</h2>
        <div class="recomended-sec">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="item">
                        <img src="~/content/images/img1.jpg" alt="img">
                        <h3>how to be a bwase</h3>
                        <h6><span class="price">49dh</span> /  @Html.ActionLink("Buy Now","livre1", "Home")Buy Now</a></h6>
                        <div class="hover">
                            @Html.ActionLink("","livre1","Home")
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item">
                        <img src="~/content/images/img2.jpg" alt="img">
                        <h3>How to write a book...</h3>
                        <h6><span class="price">19dh</span> /  @Html.ActionLink("Buy Now", "livre2", "Home")</h6>
                        <span class="sale">Sale !</span>
                        <div class="hover">

                            @Html.ActionLink("","livre2", "Home")
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item">
                        <img src="~/content/images/img3.jpg" alt="img">
                        <h3>7-day self publish...</h3>
                        <h6><span class="price">49dh</span> /  @Html.ActionLink("Buy Now", "livre3", "Home")</h6>
                        <div class="hover">
                            @Html.ActionLink(" ", "livre3", "Home")
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item">
                        <img src="~/content/images/img4.jpg" alt="img">
                        <h3>wendy doniger</h3>
                        <h6><span class="price">49dh</span> /  @Html.ActionLink("Buy Now", "livre4", "Home")</h6>
                        <div class="hover">

                            @Html.ActionLink("Buy Now", "livre4", "Home")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2>recently added books to our store</h2>
        <div class="recent-book-sec">
            <div class="row">
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r1.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">19dh</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r2.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">19dh</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r3.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">19dh</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r4.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">19dh</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r5.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">19dh</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r1.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">19dh</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r2.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r3.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r4.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r5.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r1.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r2.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r3.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r4.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r5.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r1.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r2.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r3.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r4.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <img src="~/content/images/r5.jpg" alt="img">
                        <h3><a href="#">Keepers of the kalachakara</a></h3>
                        <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                    </div>
                </div>
            </div>
            <div class="btn-sec">
                <button class="btn gray-btn">load More books</button>
            </div>
        </div>
    </div>
</section>